* {
    background-color: grey;
}



.container {
    display: flex; 
    
}

.box1{
    width:500px;
    height: 850px;
    padding: 20px;
    margin-left: 2px;
   margin-right: 5px;
    border: 3px solid black;
    box-sizing: border-box; 
}

.box2 {
    display: flex;
    width: 1500px; 
    height: 850px;
    padding: 20px;
color: white;
    border: 3px solid black;
    box-sizing: border-box; 
}
 
.innerbox{
    width:300px;
    height: 85px;
    padding: 20px;
    color:white;
    background-color: #333333;
}

.longbox{
    width:300px;
    height: 680px;
    margin-top: 25px;
    padding: 20px;
    color:white;
    background-color: #333333;
}

#addsong, #newplaylist {
    background-color: black;
}

.addsong {
    align-content: center;
    justify-content: center;
    width:300px;
    height: 85px;
    padding: 20px;
    color:white;
    background-color: #07d0df;
    border-radius: 18%;
    border: black  solid 2px;
    float: right;
}

.newplaylist {
    align-content: middle;
    justify-content: center;
    width:300px;
    height: 85px;
    padding: 20px;
    color:white;
    border: black solid 2px;
    background-color: #07d0df;
    border-radius: 18%;
    float: bottom;
}
