* {
    background-color: grey;
}


.container {
    display: flex; 
}

.box1{
    width:25vw;
    height: 45vw;
    padding: 20px;
    margin-left: 2px;
   margin-right: 5px;
    border: 3px solid black;

}

.box2 {
    display: flex;
    width: 60vw; 
    padding: 20px;
color: white;
    border: 3px solid black;
    justify-content: center;
    align-items: center;

}
 
.innerbox{
    height: 11vh;
    width:20vw;
    padding: 20px;
    margin-left:10px ;
    color:white;
    background-color: #333333;
}

.longbox{
    height: 74vh;
    width:20vw;
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;
    color:white;
    background-color: #333333;
}

#addsong, #newplaylist {
    color:white;
    background-color:black ;
}

.inputContainer {
    display: flex;
    
}

.newplaylist {
    width:16vw;
    height: 10vh;
    color:white;
    border: black solid 2px;
    background-color: #07d0df;
    border-radius: 18%;
   
}

#newplaylist, #addsong {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}
